<div class="create-appt-container">
  <div class="create-appt-header">
    <h4>Create a New Appointment</h4>
  </div>
  <div class="create-appt-form-div">
    <table class="create-appt-tbl">
      <tr>
        <td>Appointment For:</td>
        <td>{{ userFullname }}</td>
        <td>Choose a Date:</td>
        <td>
          <mat-form-field>
            <mat-label>Choose</mat-label>
            <input matInput [matDatepicker]="picker" disabled />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Select a Service:</td>
        <td>
          <mat-form-field>
            <mat-label>Select a Service Category:</mat-label>
            <mat-select
              (selectionChange)="checkIfEmpAvailable()"
              [(ngModel)]="selectedServiceID"
            >
              @for (service of services; track service) {
              <mat-option [value]="service.serviceId">{{
                service.serviceName
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>Service Availability:</td>
        <td>
          <span *ngIf="!isEmpAvailable && !isServiceSelected"
            >Please select a service first</span
          >
          <span
            *ngIf="isEmpAvailable && isServiceSelected"
            class="service-avbl-span"
            >Service Available</span
          >
          <span
            *ngIf="!isEmpAvailable && isServiceSelected"
            class="service-unavbl-span"
            >Service Unavailable</span
          >
        </td>
      </tr>
      <tr>
        <td>Add Service Description:</td>
        <td>
          <mat-form-field class="text-area-mat">
            <mat-label>Describe your requirement</mat-label>
            <textarea matInput placeholder=""></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
</div>
