<div class="create-appt-container">
    <div class="create-appt-header">
        <h4>Create a New Appointment</h4>
    </div>
    <div class="create-appt-form-div">
        <table class="create-appt-tbl">
            <tr>
                <td colspan="3">
                    <h5>Appointment For: {{ userFullname }}</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Choose a Date</mat-label>
                        <input
                            matInput
                            [matDatepicker]="picker"
                            disabled
                            (dateChange)="
                                checkApptDate(); checkIfEmpAvailable()
                            "
                            [(ngModel)]="selectedApptDate"
                        />
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                            #picker
                            disabled="false"
                        ></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="service-cat-ddl">
                        <mat-label>Select a Service Category:</mat-label>
                        <mat-select
                            (selectionChange)="checkIfEmpAvailable()"
                            [(ngModel)]="selectedServiceID"
                        >
                            @for (service of services; track service) {
                            <mat-option [value]="service.serviceId">{{
                                service.serviceName
                            }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-spinner
                        *ngIf="loading"
                        class="spinner-loader"
                    ></mat-spinner>
                    <p
                        *ngIf="
                            !isAnyEmployeeAvailable &&
                            !isServiceSelected &&
                            !loading
                        "
                    >
                        <b>Please Select a Service Category</b>
                    </p>
                    <p
                        *ngIf="
                            !isAnyEmployeeAvailable &&
                            isServiceSelected &&
                            !loading
                        "
                        class="service-unavbl-span"
                    >
                        Service Unavailable
                    </p>
                    <p
                        *ngIf="
                            isAnyEmployeeAvailable &&
                            isServiceSelected &&
                            !loading
                        "
                        class="service-avbl-span"
                    >
                        Service Available
                    </p>
                </td>
                <!-- <td>
                    <p *ngIf="!isEmpAvailable && !isServiceSelected">
                        Select a service to check availablitily
                    </p>
                    <p
                        *ngIf="
                            isEmpAvailable &&
                            isServiceSelected &&
                            isAssignedEmployeeAvailableOnSelectedDate
                        "
                        class="service-avbl-span"
                    >
                        Service Available
                    </p>
                    <p
                        *ngIf="
                            isEmpAvailable &&
                            isServiceSelected &&
                            !isAssignedEmployeeAvailableOnSelectedDate
                        "
                        class="service-avbl-span"
                    >
                        Service Available
                    </p>
                    <p
                        *ngIf="
                            !isEmpAvailable &&
                            !isAssignedEmployeeAvailableOnSelectedDate &&
                            isServiceSelected
                        "
                        class="service-unavbl-span"
                    >
                        Service Unavailable
                    </p>
                </td> -->
            </tr>
            <tr>
                <td>Add Service Description:</td>
                <td colspan="3">
                    <mat-form-field class="text-area-mat">
                        <mat-label>Describe your requirement</mat-label>
                        <textarea
                            matInput
                            placeholder=""
                            [(ngModel)]="serviceDescription"
                        ></textarea>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button
                        mat-raised-button
                        class="submit-appt-btn"
                        [disabled]="submitting || !isAnyEmployeeAvailable"
                        (click)="submitAppointment()"
                    >
                        {{ submitting ? "Creating..." : "Create Appointment" }}
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
